<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Providers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-title>Pair</ion-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-icon class="field-icon" name="link"></ion-icon>
        <ion-input required=true placeholder="Provider ID" name="pid" type="text" [(ngModel)]="providerCredentials.pid"></ion-input>
      </ion-item><br>
      <ion-button color="secondary" type="submit" size="full" expand="block" (click)="pair()" [disabled]="providerCredentials.pid == ''">Pair</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-refresher slot="fixed" (ionRefresh)="loadProviders($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="providers.length == 0">
    <ion-card *ngFor="let i of [1,2,3,4]">
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card class="ion-padding" *ngFor="let provider of providers">

      <ion-card-header>
        <ion-card-title translucent="true">
          <b>{{ provider.name }}</b> 12 mi.
        </ion-card-title>
        <ion-card-subtitle>
          {{ provider.address }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-chip color="success">Wheelchair-Accessible</ion-chip>
      <ion-chip color="success"><ion-icon class="field-icon" name="flash"></ion-icon>Available Now</ion-chip>
      <ion-chip color="success"><ion-icon class="field-icon" name="checkmark"></ion-icon>Verified</ion-chip>

      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-button routerLink="/app/summon" fill="clear" expand="block" style="width: 48%">
            <ion-icon class="field-icon" name="book"></ion-icon>
            <ion-label>SUMMON</ion-label>
          </ion-button>
    
          <ion-button fill="clear" expand="block" style="width: 48%">
            <ion-icon class="field-icon" name="menu"></ion-icon>
            <ion-label>MORE</ion-label>
          </ion-button>
        </ion-row>
      </ion-grid>

      

    </ion-card>
  </ion-list>

</ion-content>
