<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{ user.email }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form (ngSubmit)="updateUser()" [formGroup]="userForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" formControlName="first_name"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text" formControlName="last_name"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">Weight</ion-label>
                <ion-input type="text" formControlName="weight"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="8">
              <ion-item>
                <ion-label position="floating">Unit</ion-label>
                <ion-select formControlName="weight_unit" placeholder="Select Weight Measurement">
                  <ion-select-option value="kg">Kilograms (kg.)</ion-select-option>
                  <ion-select-option value="lb">Pounds (lb.)</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <ion-item>
              <ion-label position="floating">Date of Birth (MM/DD/YYYY)</ion-label>
              <ion-datetime formControlName="birthday" displayFormat="MM/DD/YYYY"></ion-datetime>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <ion-item>
                <ion-label position="floating">Primary Address</ion-label>
                <ion-input type="text" formControlName="address"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">ZIP</ion-label>
                <ion-input type="text" formControlName="zip"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">State</ion-label>
                <ion-select formControlName="state" placeholder="State">
                  <ion-select-option value="ca">CA</ion-select-option>
                  <ion-select-option value="ia">IA</ion-select-option>
                  <ion-select-option value="ne">NE</ion-select-option>
                  <ion-select-option value="ny">NY</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="8">
              <ion-item>
                <ion-label position="floating">City</ion-label>
                <ion-input type="text" formControlName="city"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button class="ion-padding-horizontal" color="secondary" expand="full" type="submit"
          [disabled]="!userForm.valid">Update</ion-button>
        <ion-button class="ion-padding-horizontal" color="danger" expand="full" type="button" (click)="deleteAccount()">
          Delete Account</ion-button>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
