<ion-content class="ion-padding" color="primary">
  <div class="grid-wrap">
    <div class="logo-wrap">
      <img src="../../../assets/fullLogo_transparent.png" style="height:10vh" position="stacked">
    </div>
    <ion-card color="dark" class="login-card">
      <div class="ion-padding">
        <ion-card-header>
          <ion-card-title>Register</ion-card-title>
        </ion-card-header>
        <ion-item color="dark" position="stacked">
          <ion-input required=true placeholder="Email" autofocus=true name="email" type="text" [(ngModel)]="credentials.email"></ion-input>
        </ion-item>
        <ion-item color="dark" position="stacked">
          <ion-input required=true placeholder="Password" name="password" type="password" [(ngModel)]="credentials.password"></ion-input>
        </ion-item>
        <ion-item color="dark" position="stacked">
          <ion-input required=true placeholder="First Name" name="first_name" type="text" [(ngModel)]="credentials.first_name"></ion-input>
        </ion-item>
        <ion-item color="dark" position="stacked">
          <ion-input required=true placeholder="Last Name" name="last_name" type="text"  [(ngModel)]="credentials.last_name"></ion-input>
        </ion-item>
      </div>
    </ion-card>
    <div class="footer">
      <ion-button routerLink="/" routerDirection="forward" color="secondary">Sign In</ion-button>
      <span class="buffer"></span>
      <ion-button color="secondary" type="submit" (click)="register()" [disabled]="credentials.email == '' || credentials.password == ''">
        Register&nbsp;&nbsp;
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
      