<ion-content color="primary">
  <ion-grid style="height:100%">
    <ion-row style="height:100%" class="ion-justify-content-center ion-align-items-center" color="primary">
      <img src="../../../assets/fullLogo_transparent.png" style="width:15em" position="stacked">
      <ion-card color="dark" style="width:90%">
        <div class="ion-padding">
          <ion-item color="dark">
            <ion-icon name="mail"></ion-icon>
            <ion-input required=true placeholder="Email" autofocus=true name="email" type="text" [(ngModel)]="credentials.email"></ion-input>
          </ion-item><br>
          <ion-item color="dark">
            <ion-icon name="lock"></ion-icon>
            <ion-input required=true placeholder="Password" name="password" type="password" [(ngModel)]="credentials.password"></ion-input>
          </ion-item>
        </div>
        <div class="ion-padding">
          <ion-button color="secondary" type="submit" size="full" expand="block" (click)="register()" [disabled]="credentials.email == '' || credentials.password == ''">REGISTER</ion-button>
        </div>
        <div class="ion-padding">
          <ion-button routerLink="/" routerDirection="forward" color="secondary" size="full" expand="block">LOGIN INSTEAD</ion-button>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
